/* Academy cards */
.academy-card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.academy-card .card-body {
  background-color: #ead8c8;
}
.academy-card.visible {
  opacity: 1;
  transform: translateY(0);
}
.academy-card.visible:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}
.academy-img {
  height: 220px;
  object-fit: cover;
}
